<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QLVanBang_Nhom4.Properties.Settings.QLVANBANG_NHOM4ConnectionString"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=QLVANBANG_NHOM4;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>